@charset "UTF-8"

* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #691c43;
  height: auto;
}
main {
  background-color: #fff;
  background-image: url(body_bg.png);
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  padding: 16px;
}
header {
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  background-repeat: repeat-x;
  background-image: url(header_bg.png);
  background-size: auto 60px;
  text-align: center;
  padding: 80px 16px 20px 16px;
}
header img {
  margin: auto;
  display: inline-block;
  width: 250px;
}
footer {
  background-color: #ed93bb;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  height: auto;
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.cupcakes {
  background-color: #fc7192;
}
.cakes {
  background-color: #ed93bb;
}
.milkshakes {
  background-color: #fc7192;
}
.menu {
  padding: 32px;
  margin-bottom: 16px;
 
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  color: #280111;
}

@media (min-width: 600px)
{
  .menu { display: flex;
  flex-direction: row;}
 .menu div {
  flex-basis: 50%;
}
}
.menu img {
  height: 250px;
}
.menu h2 {
  color: #fff;
  background-color: #691c43;
  display: inline-block;
  padding: 10px 40px;
}
